body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 6rem; //1em = 16px = 100%
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; //40px / 16px = 2.5rem
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 2.5rem;
  margin: 100px auto;
}

.skills-title {
  color: #66BFBF;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #EAF6F6;
}

.p {
    line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

.bottom-container a {
  margin: 10px 20px;
  margin-top: 3rem;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 40px;
}

.unity3d-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-img {
  border-radius: 50%;
}

.unity3d-title {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn{
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  border: solid #337FED 1px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  box-shadow: 1px 1px 20px 0px #000000;
  display: inline-block;
  margin: 4rem auto 4rem auto;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  text-decoration: none;
}
